/* Write your CSS code here */
ul {
  list-style: none;
}

li {
  padding-left: 0;
}

.header {
  width: 80%;
  max-width: 1140px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.nav-link-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logout-btn {
  padding: 8px 12px;
  color: white;
  background-color: #0b69ff;
  border-radius: 4px;
}
